.PFLqgc {
    /* background-size: contain; */
    background-image: url(https://gstatic.com/classroom/themes/img_code.jpg);
    background-repeat: no-repeat;
    background-size: auto;
    height: 300px;
    width: 1000px;
    box-shadow: 0 3px 5px rgb(0 0 0 / 10%);
    border-radius: 10px;


}

.App-home2 {
    font-size: calc(10px + 2vmin);
    color: black;
  }
.ee1HBc .ra2NV,
.ee1HBc.ra2NV.ra2NV {
    background-image: radial-gradient(25rem 18.75rem ellipse at bottom right, rgb(66, 133, 244), transparent);
}

.VVnuU {
    display: none;
}